<h3>Single tweet info</h3>
Tweet: <%=@tweet.content%></br>
Tweeted by user: <%=@tweet.user.username%></br>
<form action="/tweets/<%=@tweet.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>
<form action="/tweets/<%=@tweet.id%>" method="post">
<input type="hidden" id="hidden" name="_method" value="patch">
  <input type="submit" value="Edit Tweet">
</form>
